link( href="/css/style.css" rel="stylesheet" )

table.card
    tr
        th.card
        th.card 1
        th.card 2
        th.card 3
        th.card 4
        th.card 5
        th.card.card 6
        th.card.card 7
    tr
        th.card.card A
        td.card #{user.bingoCard[0][0]}
        td.card #{user.bingoCard[1][0]}
        td.card #{user.bingoCard[2][0]}
        td.card #{user.bingoCard[3][0]}
        td.card #{user.bingoCard[4][0]}
        td.card #{user.bingoCard[5][0]}
        td.card #{user.bingoCard[6][0]}
    tr
        th.card B
        td.card #{user.bingoCard[0][1]}
        td.card #{user.bingoCard[1][1]}
        td.card #{user.bingoCard[2][1]}
        td.card #{user.bingoCard[3][1]}
        td.card #{user.bingoCard[4][1]}
        td.card #{user.bingoCard[5][1]}
        td.card #{user.bingoCard[6][1]}
    tr
        th.card C
        td.card #{user.bingoCard[0][2]}
        td.card #{user.bingoCard[1][2]}
        td.card #{user.bingoCard[2][2]}
        td.card #{user.bingoCard[3][2]}
        td.card #{user.bingoCard[4][2]}
        td.card #{user.bingoCard[5][2]}
        td.card #{user.bingoCard[6][2]}
    tr
        th.card D
        td.card #{user.bingoCard[0][3]}
        td.card #{user.bingoCard[1][3]}
        td.card #{user.bingoCard[2][3]}
        td.card #{user.bingoCard[3][3]}
        td.card #{user.bingoCard[4][3]}
        td.card #{user.bingoCard[5][3]}
        td.card #{user.bingoCard[6][3]}
    tr
        th.card E
        td.card #{user.bingoCard[0][4]}
        td.card #{user.bingoCard[1][4]}
        td.card #{user.bingoCard[2][4]}
        td.card #{user.bingoCard[3][4]}
        td.card #{user.bingoCard[4][4]}
        td.card #{user.bingoCard[5][4]}
        td.card #{user.bingoCard[6][4]}
    tr
        th.card F
        td.card #{user.bingoCard[0][5]}
        td.card #{user.bingoCard[1][5]}
        td.card #{user.bingoCard[2][5]}
        td.card #{user.bingoCard[3][5]}
        td.card #{user.bingoCard[4][5]}
        td.card #{user.bingoCard[5][5]}
        td.card #{user.bingoCard[6][5]}
    tr
        th.card G
        td.card #{user.bingoCard[0][6]}
        td.card #{user.bingoCard[1][6]}
        td.card #{user.bingoCard[2][6]}
        td.card #{user.bingoCard[3][6]}
        td.card #{user.bingoCard[4][6]}
        td.card #{user.bingoCard[5][6]}
        td.card #{user.bingoCard[6][6]}
    tr
        th.card H
        td.card #{user.bingoCard[0][7]}
        td.card #{user.bingoCard[1][7]}
        td.card #{user.bingoCard[2][7]}
        td.card #{user.bingoCard[3][7]}
        td.card #{user.bingoCard[4][7]}
        td.card #{user.bingoCard[5][7]}
        td.card #{user.bingoCard[6][7]}
    tr
        th.card I
        td.card #{user.bingoCard[0][8]}
        td.card #{user.bingoCard[1][8]}
        td.card #{user.bingoCard[2][8]}
        td.card #{user.bingoCard[3][8]}
        td.card #{user.bingoCard[4][8]}
        td.card #{user.bingoCard[5][8]}
        td.card #{user.bingoCard[6][8]}
    tr
        th.card J
        td.card #{user.bingoCard[0][9]}
        td.card #{user.bingoCard[1][9]}
        td.card #{user.bingoCard[2][9]}
        td.card #{user.bingoCard[3][9]}
        td.card #{user.bingoCard[4][9]}
        td.card #{user.bingoCard[5][9]}
        td.card #{user.bingoCard[6][9]}
